Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  portability-*,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -readability-identifier-length,
  -readability-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
